#dependencias de node js
mpde_modules/

#Archivos y carpetas de compilacion
platforms/
plugins/
www/
build/

#Archivos del entorno de desarrollo
.idea/
.vscode/
.DS_Store/
.env

#Logs y reportes
*.log